/* ——— FONT IMPORTS ——— */
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/src/assets/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/src/assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ——— TAILWIND ——— */
@import "tailwindcss";

/* global body styling */
html, body {
  font-family: "PP Neue Montreal", sans-serif;
}



